.FormPage button{
    width: 90%;
    margin-left: 4%;
    height: 50px;
    margin-top: 30px;
    border-color: #efeeed;
}
.FormPage{
    padding: 10px;
    border: solid 2px;


    margin-top: 10%;
    background: white;
}

.componentFormInput label{
 float: left;
 color: rgb(179, 178, 178);
 margin:10px;
 margin-left:0;

}
.componentFormInput input{
    
    width: 95%;
    border:none;
    border-bottom: 1px solid;
    border-color: #efeeed;
    /*color:#efeeed;*/
}
.componentFormInput span{
    float:left;
    color:#eb4a46;
    font-size: 80%;
   width: 90%;
}